<div class="navbar-item-container" id={{itemId}}>
  <i
    class="fa-regular {{iconClass}} navbar-item-icon"
    style="color:{{color}};"
  ></i>
  {{#if showBadge}}
    <div class="navbar-item-badge">{{badgeCount}}</div>
  {{/if}}
  <span class="navbar-item-text">{{itemText}}</span>
</div>